body{
    margin: 0%;
}

.sobre{
    border-radius: 34px;
    background-color: goldenrod;
    height: 305px;
   width: 430px;
    position: relative;
    padding:50px;
    font-synthesis: weight;
    font-size: 25px;
    margin-left: 10px;
    


}
.dica2{
    left: 600px;
    position: absolute;                                                                                        
    font-family: Arial, Helvetica, sans-serif;

 }
 .video{
     left: 400px;
     margin-left: 570px;
     margin-top: 10px; 
     

 } 
